p{
  color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/fundo.png");

}

/* Navbar */
nav {
  background: #000000;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .logo {
display: flex;
align-items: center;
gap: 10px;
font-size: 38px;
font-weight: bold;
color: white ;

}

.nav-links {
display: flex;
align-items: center;
gap: 20px;
}

.nav-links ul {
display: flex;
gap: 20px;
list-style: none;
margin: 0;
padding: 0;
}

.nav-links ul li {
  display: inline;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #2980b9;
}

main{
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}


.modal_cadastro {
    display: flex;
    margin: auto;
    height: 550px;
    width: 500px;
    background-color: #423b3b61;
    border-radius: 35px;
    backdrop-filter: blur(30px);
    margin-top: 100px;
}


form{
    margin: auto;
    width: fit-content;

    color: white;
} 

form input {
    width: 300px;
    height: 15px;
    border-radius: 15px;
    margin-top: 10px;
    background: white;
    border: 2px solid #fff;
    color: black;
    padding: 10px;

}

form h2{
  font-size: 40px;
  margin-bottom: 40px;
}

form label{
  margin-bottom: 20px;
}

.input{
  margin-bottom: 20px;
}

.login-btn {
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}

/* Conteúdo principal */
h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.ner{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
   max-width: 100%;
  border-radius: 8px;
}

.card h2 {
  font-size: 20px;
  margin: 10px 0;
  }

.price {
  font-size: 16px;
  color: #27ae60;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background: #f75700;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: auto;
  border: none;
}

.btn:hover {
  background: #2980b9;
}

/* Carrinho */
#carrinho {
  margin-top: 40px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: none;
}

#carrinho h2 {
  margin-top: 0;
}
#lista-carrinho {
   list-style: none;
  padding: 0;
}

#lista-carrinho li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ffffff;
}
#lista-carrinho-popup .remover {
  padding: 0px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 0, 0);
  
}



/* Badge do carrinho */
#badgeCarrinho {
  
  color: rgb(0, 0, 0);
  border-radius: 100%;
  padding: 1px 1px;
  font-size: 13px;
  vertical-align: top;
  margin-left: 0px;
  min-width: 14px;
  text-align: right;
  display: inline-block;
}

.remover {
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 8px;
  height: 24px;
  text-align: auto;
  padding-right: 40px;
}
.remover:hover {
background: rgb(255, 0, 0);
}

#total {
font-weight: bold;
margin-top: 15px;
font-size: 18px;
text-align: right;
}

/* popup */
.popup {
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.7);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
animation: fadeIn 0.8 ease-in-out;
}

.fechar-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fechar-popup:hover {
  color: orangered;
}


.popup-content{
  background: rgb(255, 255, 255) ;
  color: #000000;
  border: 4px solid black;
  width: 340px;
  padding: 50px;
  border-radius: 12px;
  
  text-align:center;

  animation: slideDown 0.6s ease;
  position: relative;

}


    
.popup-content h2 {
  margin-bottom: 20px;
  font-size: 43px;
  font-weight: bold;
  color:#000000;
  text-align: center;
  width: 90%;
    }

  #popupCarrinho .popup-content h2 {
  text-align: center;
  font-size: 40px; 
  color: orangered;     
  font-weight: bold;
  margin-bottom: 20px;
  width: 90%;
}

/* caixas de texto do login*/
.popup-content input{
  display: block;
  width: 95%;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
}

.popup-content button {
  display: block;
  background: rgba(226, 104, 16, 0.558);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px auto 0;
  cursor: pointer;
  width: 90%;
  font-size: 25px;
  transition: all 0.5s ease;
  padding: 10px;
}

.popup-content button:hover{
  background: green;
}

@keyframes fadeIn {
  from {opacity: 0; }
  to {opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0;}
  to { transform: translateY(0); opacity: 1;}
}

/* Cadastro */

#form {
    width: 220px;           
    height: 220px;          
    border: 5px solid #EFC978;
    border-radius: 50%;    
    object-fit: cover;      
    margin-bottom: 30px; 
}

/* Estilo para o formulário de cadastro */

#form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  padding: 60px;
  width: min-content;
  align-items: center;
  color: black;
}

.tittle{
  font-size: 1.8em;
  margin-bottom: 10%;

}









/* Pagina Sobre*/

.sobre-titulo{
  margin: 0 auto;
  padding: 0;
  box-shadow: border-box;
  background-color: rgb(0, 0, 0) ;
  width: 1300px;
  height: 900px;
}

.sobre-titulo h1{
  text-align: center;
  color: orangered;
}

.sobre-titulo img{
  width: 200px;
  height: 200px;
  display: block;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}

.sobre-titulo .sobre{
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: white;
}



/* Rodapé */
*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;


}

.interface{
  max-width: 1800px;
  margin: 0 auto;

}

footer{
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 40px 0;

}

footer .line-footer1{
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;

}

.line-footer1 h2{
  font-size: 2.5ram;
}

.line-footer1 p{
  font-size: 1.2ram;
  margin: 10px 0 20px 0;
}

.line-footer1 form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-footer1 form input[type=e-mail]{
  width: 300px;
  height: 15px;
  background: white;
  border: 2px solid #fff;
  color: black;
  padding: 10px;
  outline: 0;
}

.line-footer1 form input[type=submit]{
  width: 80px;
  height: 40px;
  background-color: orangered;
  border-color: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;



}

.line-footer1 form input[type=submit]:hover{
  background: #fff;
  color: orangered;
  
}

footer .line-footer2{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;


}

footer .line-footer2 .box-line-footer{
  width: calc(100% /3);
}

footer .box-line-footer img{
  max-width: 80px;
  margin-bottom: 10px;
}

.line-footer2 .box-line-footer h3{
  color: orangered;
  margin-bottom: 20px;

}

.line-footer2 .box-line-footer a{
  color: #fff;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: .9ram;

}

footer .line-footer3{
  padding-top: 40px;
  text-align: center;
}