p{
  color: #29b971;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  background: url(/img/fundo\ opaco\ preto.png) no-repeat center center fixed;
  background-size: cover;
}

/* Navbar */
nav {
  background: #000000;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .logo {
display: flex;
align-items: center;
gap: 10px;
font-size: 38px;
font-weight: bold;
color: white ;

}

.nav-links {
display: flex;
align-items: center;
gap: 20px;
}

.nav-links ul {
display: flex;
gap: 20px;
list-style: none;
margin: 0;
padding: 0;
}

.nav-links ul li {
  display: inline;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #2980b9;
}

.login-btn {
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}

/* Conteúdo principal */
  main {
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.ner{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
   max-width: 100%;
  border-radius: 8px;
}

.card h2 {
  font-size: 20px;
  margin: 10px 0;
  }

.price {
  font-size: 16px;
  color: #27ae60;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background: #f75700;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: auto;
}

.btn:hover {
  background: #2980b9;
}

/* Carrinho */
#carrinho {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: none;
}

#carrinho h2 {
  margin-top: 0;
}
#lista-carrinho {
   list-style: none;
  padding: 0;
}

#lista-carrinho li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
#lista-carrinho-popup .remover {
  padding: 0px;
  font-size: 15px;
  background-color: white;
  border-color: white;
  
}



/* Badge do carrinho */
#badgeCarrinho {
  
  color: rgb(0, 0, 0);
  border-radius: 100%;
  padding: 1px 1px;
  font-size: 13px;
  vertical-align: top;
  margin-left: 0px;
  min-width: 14px;
  text-align: right;
  display: inline-block;
}

.remover {
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 8px;
  height: 24px;
  text-align: auto;
  padding-right: 40px;
}
.remover:hover {
background: rgb(226, 8, 8);
}

#total {
font-weight: bold;
margin-top: 15px;
font-size: 18px;
text-align: right;
}

/* popup */
.popup {
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.7);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
animation: fadeIn 0.8 ease-in-out;
}

.fechar-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fechar-popup:hover {
  color: orangered;
}


.popup-content{
  background: rgb(255, 255, 255) ;
  color: #000000;
  border: 4px solid black;
  width: 340px;
  padding: 50px;
  border-radius: 12px;
  
  text-align:center;

  animation: slideDown 0.6s ease;
  position: relative;

}


    
.popup-content h2 {
  margin-bottom: 20px;
  font-size: 43px;
  font-weight: bold;
  color:#000000;
  text-align: center;
  width: 90%;
    }

  #popupCarrinho .popup-content h2 {
  text-align: center;
  font-size: 40px; 
  color: orangered;     
  font-weight: bold;
  margin-bottom: 20px;
  width: 90%;
}

/* caixas de texto do login*/
.popup-content input{
  display: block;
  width: 95%;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
}

.popup-content button {
  display: block;
  background: rgba(226, 104, 16, 0.558);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px auto 0;
  cursor: pointer;
  width: 90%;
  font-size: 25px;
  transition: all 0.5s ease;
  padding: 10px;
}

.popup-content button:hover{
  background: green;
}

@keyframes fadeIn {
  from {opacity: 0; }
  to {opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0;}
  to { transform: translateY(0); opacity: 1;}
}